<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePath" value="..\\..\\..\\MOCK_DATA.json"/>
    <add key="DestinationPath" value="..\\..\\..\\MOCK_PATIENTS_DATA.json"/>
    <add key="IdStrings" value="ExamId,id"/>
    <add key="RepeatCount" value="5"/>
  </appSettings>
</configuration>